[submodule "sub-module-a"]
	path = sub-module-a
	url = git@github.com:mikulb/sub-module-a.git
[submodule "tk_standard_hr"]
	path = tk_standard_hr
	url = git@github.com:toolkt/tk_standard_hr.git
[submodule "tk_standard_hr_contacts"]
	path = tk_standard_hr_contacts
	url = git@github.com:toolkt/tk_standard_hr_contacts.git
[submodule "tk_standard_hr_attendance_and_holidays"]
	path = tk_standard_hr_attendance_and_holidays
	url = git@github.com:toolkt/tk_standard_hr_attendance_and_holidays.git
[submodule "tk_standard_hr_contracts"]
	path = tk_standard_hr_contracts
	url = git@github.com:toolkt/tk_standard_hr_contracts.git
